In [ ]:
# Day X â€“ Pandas Basics for Data Analysis and Machine Learning

### ðŸŽ¯ Goal
To understand Pandas fundamentals including Pandas basics, Series, DataFrame creation, data inspection, and filtering operations, which are essential for data analysis and Machine Learning workflows.

#PANDAS IN PYTHON

- Pandas is an open-source Python library used for data manipulation, analysis and cleaning. It provides fast and flexible tools to work with tabular data, similar to spreadsheets or SQL tables.

- Pandas is used in data science, machine learning, finance, analytics and automation because it 
integrates smoothly with other libraries such as:

#What is Pandas Used for?
- Reading and writing data from various file formats like CSV, Excel and SQL databases.
- Cleaning and preparing data (handling missing values, filtering, removing duplicates).
- Merging, joining, and reshaping datasets.
- Performing statistical analysis and descriptive statistics.
- Visualizing data quickly.

Installing pandas

In [ ]:
pip install pandas

In [3]:
#importing pandas
import pandas as pd
import numpy as np

PANDAS DATA STRUCTURES

#Pandas Series

A Series is a one-dimensional labeled array capable of holding any data type (integers, strings,
floating-point numbers, Python objects, etc.).

#Different ways of creating Series

In [4]:
#creating empty series
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Users\Pavan\AppData\Local\Temp\ipykernel_4564\1405446988.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [5]:
#creating series using numpy
arr = np.array([12, 56, 9, 27])
ser = pd.Series(arr)
print(ser)

0    12
1    56
2     9
3    27
dtype: int32

In [6]:
#creating series using pyhton list
lst = [45, 78, 93, 44]
ser = pd.Series(lst)
print(ser)

0    45
1    78
2    93
3    44
dtype: int64

In [7]:
#creating series using dictionary
a = {"name" : "Pavan", "branch" : "CSE", "Collage" : "NBKR"}
ser = pd.Series(a)
print(ser)

name       Pavan
branch       CSE
Collage     NBKR
dtype: object

In [8]:
#creating series using range()
ser = pd.Series(range(5, 12))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
dtype: int64

#Accessing elements of a Pandas Serie

In [10]:
arr = np.array(['m', 'a', 'c', 'h', 'i', 'n', 'e'])
ser = pd.Series(arr)
print(ser[1]) #acessing single element
print(ser[:4]) #acessing multiple elements
print(ser[-2:])

a
0    m
1    a
2    c
3    h
dtype: object
5    n
6    e
dtype: object

In [12]:
arr = np.array([23, 45, 16, 47, 58, 10])
ser = pd.Series(arr, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(ser['c'])
print(ser[['a', 'b', 'c', 'd', 'e']]) #acessing multiple elements

16
a    23
b    45
c    16
d    47
e    58
dtype: int32

#Operations on Pandas Series

In [14]:
#Arthematic Operations
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Adding the two Series
result = s1 + s2
print(result)

a    11
b    22
c    33
dtype: int64

In [15]:
#Comparision Operators
s1 = pd.Series([10, 20, 30])
s2 = pd.Series([10, 25, 30])

# Comparing the two Series
result = s1 == s2
print(result)

0     True
1    False
2     True
dtype: bool

In [16]:
#Logical Operators
s1 = pd.Series([True, False, True])
s2 = pd.Series([False, False, True])

# Applying logical AND
result = s1 & s2
print(result)

0    False
1    False
2     True
dtype: bool

#PANDAS DATAFRAME

Pandas dataframe omes is a powerful tool that allows us to store and manipulate data in a structured way, similar to an Excel spreadsheet or a SQL table. A DataFrame is similar to a table with rows and columns. 
It helps in handling large amounts of data, performing calculations, filtering information with ease.

#Different ways of creating dataframe

In [17]:
#creating a empty dataframe
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
#creating a dataframe using lists
lst = ["apple", "banana", "orangr", "pine apple"]
df = pd.DataFrame(lst)
print(df)

            0
0       apple
1      banana
2      orangr
3  pine apple

In [24]:
#creating a dataframe using numpy array
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
#creating a dataframe using list of dictionaries
lidic = {
    "name" : ["hari", "raju", "mahesh", "sreenu"],
    "branch" : ["CSE", "ECE", "AIDE", "MEC"],
    "age" : [19, 20, 21, 19]
}
df = pd.DataFrame(lidic)
print(df)

     name branch  age
0    hari    CSE   19
1    raju    ECE   20
2  mahesh   AIDE   21
3  sreenu    MEC   19

#Acessing DataFrame in Pandas

In [28]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [33]:
#acessing column
col = df['Salary']
print(col)
col1 = df['Name']
print(col1)

0    50000
1    55000
2    40000
3    70000
4    48000
Name: Salary, dtype: int64
0       John
1      Alice
2        Bob
3        Eve
4    Charlie
Name: Name, dtype: object

In [34]:
#acessing rows using iloc
row = df.iloc[2]
print(row)

Name        Bob
Age          22
Gender     Male
Salary    40000
Name: 2, dtype: object

In [35]:
#acessing multiple rwos and columns
selected = df.loc[1:4, ["Name", "Gender"]]
print(selected)

      Name  Gender
1    Alice  Female
2      Bob    Male
3      Eve  Female
4  Charlie    Male

In [41]:
#Accessing Rows Based on Conditions
filtered = df[df["Gender"] == "Male"]
print(filtered)
ret = df[df["Age"] >= 30]
print(ret)

      Name  Age Gender  Salary
0     John   25   Male   50000
2      Bob   22   Male   40000
4  Charlie   28   Male   48000
    Name  Age  Gender  Salary
1  Alice   30  Female   55000
3    Eve   35  Female   70000

In [38]:
# Accessing Specific Cells with at and iat
sel = df.at[3, 'Name']
print(sel)

Eve

#Indexing and Selecting Data with Pandas

In [45]:
df = pd.read_csv("Sales-Data-Analysis.csv")
#Acessing first five rows
print(df.head())

   Order ID        Date             Product  Price  Quantity Purchase Type  \
0     10452  07-11-2022               Fries   3.49    573.07       Online
1     10453  07-11-2022           Beverages   2.95    745.76       Online
2     10454  07-11-2022       Sides & Other   4.99    200.40     In-store
3     10455  08-11-2022             Burgers  12.99    569.67     In-store
4     10456  08-11-2022  Chicken Sandwiches   9.95    201.01     In-store

  Payment Method             Manager    City
0      Gift Card    Tom      Jackson  London
1      Gift Card         Pablo Perez  Madrid
2      Gift Card       Joao    Silva  Lisbon
3    Credit Card       Walter Muller  Berlin
4    Credit Card       Walter Muller  Berlin

In [46]:
#acessing last five columns
print(df.tail())

     Order ID        Date             Product  Price  Quantity Purchase Type  \
249     10709  28-12-2022       Sides & Other   4.99    200.40   Drive-thru
250     10710  29-12-2022             Burgers  12.99    754.43   Drive-thru
251     10711  29-12-2022  Chicken Sandwiches   9.95    281.41   Drive-thru
252     10712  29-12-2022               Fries   3.49    630.37   Drive-thru
253     10713  29-12-2022           Beverages   2.95    677.97   Drive-thru

    Payment Method        Manager    City
249      Gift Card  Walter Muller  Berlin
250      Gift Card  Walter Muller  Berlin
251      Gift Card  Walter Muller  Berlin
252      Gift Card  Walter Muller  Berlin
253      Gift Card  Walter Muller  Berlin

In [47]:
#acessing single column
sel = df["Product"]
print(sel.head(10))

0                 Fries
1             Beverages
2         Sides & Other
3               Burgers
4    Chicken Sandwiches
5                 Fries
6         Sides & Other
7               Burgers
8    Chicken Sandwiches
9                 Fries
Name: Product, dtype: object

In [54]:
#acessing multiple columns
sale = df[['Product', 'Price', 'City']]
print(sale[25:32])

               Product  Price    City
25       Sides & Other   4.99  Madrid
26             Burgers  12.99  Madrid
27  Chicken Sandwiches   9.95  Madrid
28               Fries  25.50  Lisbon
29  Chicken Sandwiches  29.05  Lisbon
30               Fries   3.49  Lisbon
31           Beverages   2.95  Lisbon

#Indexing with .loc[ ]

In [61]:
#acessing sinle row using loc()
df = pd.read_csv("Sales-Data-Analysis.csv", index_col = "Manager")
sel = df.loc["Pablo Perez"]
print(sel.head())

             Order ID        Date             Product  Price  Quantity  \
Manager
Pablo Perez     10465  10-11-2022             Burgers  12.99    554.27
Pablo Perez     10466  10-11-2022  Chicken Sandwiches   9.95    201.01
Pablo Perez     10467  10-11-2022               Fries   3.49    573.07
Pablo Perez     10476  12-11-2022  Chicken Sandwiches   9.95    201.01
Pablo Perez     10478  12-11-2022           Beverages   2.95    677.97

            Purchase Type Payment Method    City
Manager
Pablo Perez     In-store     Credit Card  Madrid
Pablo Perez     In-store     Credit Card  Madrid
Pablo Perez     In-store     Credit Card  Madrid
Pablo Perez     In-store     Credit Card  Madrid
Pablo Perez     In-store     Credit Card  Madrid

In [66]:
#accessing multiple rows using loc()
sel = df.loc[["Pablo Perez", "Joao    Silva"]]
print(sel.tail(15))

               Order ID        Date             Product  Price  Quantity  \
Manager
Pablo Perez       10508  18-11-2022           Beverages   2.95    677.97
Pablo Perez       10509  18-11-2022       Sides & Other   4.99    200.40
Pablo Perez       10510  19-11-2022             Burgers  12.99    508.08
Pablo Perez       10534  23-11-2022       Sides & Other   4.99    200.40
Pablo Perez       10535  24-11-2022             Burgers  12.99    477.29
Pablo Perez       10536  24-11-2022  Chicken Sandwiches   9.95    201.01
Pablo Perez       10540  25-11-2022             Burgers  12.99    461.89
Pablo Perez       10537  24-11-2022               Fries   3.49    630.37
Pablo Perez       10538  24-11-2022           Beverages   2.95    745.76
Pablo Perez       10539  24-11-2022       Sides & Other   4.99    200.40
Joao    Silva     10454  07-11-2022       Sides & Other   4.99    200.40
Joao    Silva     10486  14-11-2022  Chicken Sandwiches  29.05    201.01
Joao    Silva     10483  13-11-2022           Beverages   2.95    677.97
Joao    Silva     10484  13-11-2022       Sides & Other   4.99    200.40
Joao    Silva     10485  14-11-2022             Burgers  12.99    523.48

              Purchase Type Payment Method    City
Manager
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru            Cash  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Pablo Perez     Drive-thru     Credit Card  Madrid
Joao    Silva     In-store       Gift Card  Lisbon
Joao    Silva     In-store     Credit Card  Lisbon
Joao    Silva     In-store     Credit Card  Lisbon
Joao    Silva     In-store     Credit Card  Lisbon
Joao    Silva     In-store     Credit Card  Lisbon

In [70]:
#accessing multiple rows and columns using loc()
sel = df.loc[["Pablo Perez", "Joao    Silva"], ["Product", "Quantity"]]
print(sel.tail(15))

                          Product  Quantity
Manager
Pablo Perez             Beverages    677.97
Pablo Perez         Sides & Other    200.40
Pablo Perez               Burgers    508.08
Pablo Perez         Sides & Other    200.40
Pablo Perez               Burgers    477.29
Pablo Perez    Chicken Sandwiches    201.01
Pablo Perez               Burgers    461.89
Pablo Perez                 Fries    630.37
Pablo Perez             Beverages    745.76
Pablo Perez         Sides & Other    200.40
Joao    Silva       Sides & Other    200.40
Joao    Silva  Chicken Sandwiches    201.01
Joao    Silva           Beverages    677.97
Joao    Silva       Sides & Other    200.40
Joao    Silva             Burgers    523.48

In [72]:
#all rows with specific columns
data = df.loc[:, ["Date", "Product", "Price"]]
print(data.head())

                          Date             Product  Price
Manager
Tom      Jackson    07-11-2022               Fries   3.49
       Pablo Perez  07-11-2022           Beverages   2.95
Joao    Silva       07-11-2022       Sides & Other   4.99
Walter Muller       08-11-2022             Burgers  12.99
Walter Muller       08-11-2022  Chicken Sandwiches   9.95

#Indexing with .iloc[ ]

The .iloc[] function is used for position-based indexing

In [74]:
#acessing single row using iloc
row = df.iloc[89]
print(row)

Order ID                  10549
Date                 26-11-2022
Product           Sides & Other
Price                      4.99
Quantity                  200.4
Purchase Type       Drive-thru
Payment Method      Credit Card
City                     London
Name: Tom Jackson, dtype: object

In [80]:
#acessing multiple rows using iloc
selection = df.iloc[[25, 201, 89]]
print(selection)

                Order ID        Date             Product  Price  Quantity  \
Manager
Pablo    Perez     10479  12-11-2022       Sides & Other   4.99    200.40
Joao Silva         10661  19-12-2022  Chicken Sandwiches   9.95    221.11
Tom Jackson        10549  26-11-2022       Sides & Other   4.99    200.40

               Purchase Type Payment Method    City
Manager
Pablo    Perez     In-store     Credit Card  Madrid
Joao Silva         In-store            Cash  Lisbon
Tom Jackson      Drive-thru     Credit Card  London

In [81]:
#acessing multiple rows and columns
selection = df.iloc[[25, 200, 250], [1, 2]]
print(selection)

                      Date        Product
Manager
Pablo    Perez  12-11-2022  Sides & Other
Joao Silva      19-12-2022        Burgers
Walter Muller   29-12-2022        Burgers

In [82]:
#acessing all rows with specified columns
selection = df.iloc[:, [1, 2, 5]]
print(selection)

                          Date             Product Purchase Type
Manager
Tom      Jackson    07-11-2022               Fries       Online
       Pablo Perez  07-11-2022           Beverages       Online
Joao    Silva       07-11-2022       Sides & Other     In-store
Walter Muller       08-11-2022             Burgers     In-store
Walter Muller       08-11-2022  Chicken Sandwiches     In-store
...                        ...                 ...           ...
Walter Muller       28-12-2022       Sides & Other   Drive-thru
Walter Muller       29-12-2022             Burgers   Drive-thru
Walter Muller       29-12-2022  Chicken Sandwiches   Drive-thru
Walter Muller       29-12-2022               Fries   Drive-thru
Walter Muller       29-12-2022           Beverages   Drive-thru

[254 rows x 3 columns]


#Filter Pandas Dataframe with multiple conditions

In [87]:
#filtering using loc 
filt = df.loc[(df.Date == "24-11-2022") & (df.City == "Madrid") & (df.Quantity >= 400)] 
print(filt)

             Order ID        Date    Product  Price  Quantity Purchase Type  \
Manager
Pablo Perez     10535  24-11-2022    Burgers  12.99    477.29   Drive-thru
Pablo Perez     10537  24-11-2022      Fries   3.49    630.37   Drive-thru
Pablo Perez     10538  24-11-2022  Beverages   2.95    745.76   Drive-thru

            Payment Method    City
Manager
Pablo Perez    Credit Card  Madrid
Pablo Perez    Credit Card  Madrid
Pablo Perez    Credit Card  Madrid

In [101]:
#Filtering data using query()
selection = df.query('City == "Madrid" & Date == "24-11-2022" & Quantity >= 400')
print(selection)

             Order ID        Date    Product  Price  Quantity Purchase Type  \
Manager
Pablo Perez     10535  24-11-2022    Burgers  12.99    477.29   Drive-thru
Pablo Perez     10537  24-11-2022      Fries   3.49    630.37   Drive-thru
Pablo Perez     10538  24-11-2022  Beverages   2.95    745.76   Drive-thru

            Payment Method    City
Manager
Pablo Perez    Credit Card  Madrid
Pablo Perez    Credit Card  Madrid
Pablo Perez    Credit Card  Madrid

In [111]:
select_data = df[(df["City"] == "Madrid") & (df["Product"] == "Beverages") & (df["Purchase Type"] == "Drive-thru")]
print(select_data)

Empty DataFrame
Columns: [Order ID, Date, Product, Price, Quantity, Purchase Type, Payment Method, City]
Index: []